name: Docker Tagging CI

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Image
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/day19-app:${{ github.sha }} .
          docker tag ${{ secrets.DOCKER_USERNAME }}/day19-app:${{ github.sha }} ${{ secrets.DOCKER_USERNAME }}/day19-app:latest

      - name: Push Image
        run: |
          docker push ${{ secrets.DOCKER_USERNAME }}/day19-app:${{ github.sha }}
          docker push ${{ secrets.DOCKER_USERNAME }}/day19-app:latest
